Flask==3.0.0
flask-cors==6.0.2

tensorflow==2.21.0
keras==3.14.0

numpy
opencv-python==4.13.0.92
pandas
scipy
scikit-learn

requests
python-dateutil

matplotlib
pillow

protobuf
h5py

Werkzeug
Jinja2
click

tqdm
six
typing-extensions
urllib3
certifi
idna
charset-normalizer